<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet"
	th:href="@{/css/dahsboard/customer/dashboard.css}">
<link rel="stylesheet" th:href="@{/css/dahsboard/customer/transfer.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="sidebar close">
		<div class="logo-details">
			<i class='bx bxs-bank'></i> <span class="logo_name">DemoBank</span>
		</div>
		<ul class="nav-links">
			<li><a href="/customer/dashboard"> <i class='bx bx-grid-alt'></i>
					<span class="link_name">Dashboard</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/customer/dashboard">Dashboard</a></li>
				</ul></li>
			<li><a href="/customer/transfer"> <i
					class='bx bx-wallet-alt'></i> <span class="link_name">Transfer</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/customer/transfer">Transfer</a></li>
				</ul></li>
			<li>
				<div class="iocn-link">
					<a href="#"> <i class='bx bx-line-chart'></i> <span
						class="link_name">Loan</span>
					</a> <i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="#">Loan</a></li>
					<li><a href="/customer/loanRequestForm">Request</a></li>
					<li><a href="/customer/loanDetails">Approved</a></li>
				</ul>
			</li>
			<li>
				<div class="iocn-link">
					<a href="#"> <i class='bx bx-money'></i> <span
						class="link_name">Pay Bills</span>
					</a> <i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="#">Pay Bills</a></li>
					<li><a href="/customer/gasBill">Gas</a></li>
					<li><a href="/customer/electricityBill">Electricity</a></li>
					<li><a href="/customer/billHistory">History</a></li>
				</ul>
			</li>
			<li>
				<div class="iocn-link">
					<a href="#"><i class='bx bx-history'></i> <span
						class="link_name">History</span> </a> <i
						class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="#">History</a></li>
					<li><a href="/customer/debitHistory">Debit</a></li>
					<li><a href="/customer/creditHistory">Credit</a></li>
					<li><a href="/customer/tranferHistory">Transfer</a></li>
				</ul>
			</li>
			<li><a href="/customer/profile"> <i
					class='bx bxs-user-detail'></i> <span class="link_name">Profile</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/customer/profile">Profile</a></li>
				</ul></li>
			<li>
				<div class="profile-details">
					<div class="profile-content">
						<a href="/customer/profile"><img src="/images/images.png"
							alt="profileImg"></a>
					</div>
					<div class="name-job">
						<div class="profile_name" th:text=${name}></div>
					</div>
					<a href="/customer/login"><i class='bx bx-log-out'></i></a>
				</div>
			</li>
		</ul>
	</div>
	<section class="home-section">
		<div class="home-content">
			<i class='bx bx-menu'></i> <span class="text"></span>
		</div>
		<div class="container-fluid">
			<h3>Loan request Page</h3>
			<span class="text-success text-center d-block" th:text="${msg}"></span>
			<div class="row mx-5 my-5">
				<form action="applyLoan" method="post">
					<div class="row mb-3">
						<div class="col">
							<label class="form-label">Customer Name</label> <input
								type="text" class="form-control" placeholder="Customer Name"
								th:value="${name}" name="customerName" required>
						</div>
						<div class="col">
							<label class="form-label">Account Number</label> <input
								type="text" class="form-control" placeholder="Account Number"
								th:value="${account}" name="accountNumber" required>
						</div>
					</div>
					<div class="col mb-3">
						<label class="form-label">Profession</label> <input type="text"
							class="form-control" placeholder="Profession" name="profession"
							required>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label class="form-label">Loan Type</label> <select
								class="form-select" aria-label="Default select example"
								name="loanType" id="loanType" onchange="changeInterestRate()"
								required>
								<option selected></option>
								<option value="Personal">Personal</option>
								<option value="Home">Home</option>
								<option value="Auto">Auto</option>
								<option value="Agriculture">Agriculture</option>
							</select>
						</div>
						<div class="col">
							<label class="form-label">Loan Duration</label> <select
								class="form-select" aria-label="Default select example"
								name="durarion" id="loanDuration" onchange="emiTwo()" required>
								<option selected></option>
								<option value="1">One Year</option>
								<option value="2">Two Year</option>
								<option value="3">Three Year</option>
								<option value="4">Four Year</option>
								<option value="5">Five Year</option>
							</select>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col">
							<label class="form-label">Amount</label> <input type="text"
								class="form-control" placeholder="Amount" id="amount"
								name="amount" onkeyup="emi()" required>
						</div>
						<div class="col">
							<label class="form-label">Interest Rate (%)</label> <input
								type="text" id="irate" class="form-control"
								placeholder="Interest Rate" value="" name="interestRate"
								readonly required>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label class="form-label">Monthly Installment</label> <input
								type="text" class="form-control"
								placeholder="Monthly Installment" id="mPay" name="monthlyPay"
								value="" readonly required>
						</div>

						<div class="col">
							<label class="form-label">Total Amount</label> <input type="text"
								class="form-control" name="totalPayable"
								placeholder="Total amount" id="total" readonly required>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Apply For
						Loan</button>
				</form>
			</div>
		</div>
	</section>

<script th:src="@{/css/dahsboard/customer/dashboard.js}"></script>
	<script th:src="@{/css/dahsboard/customer/loanRequestForm.js}"></script>

</body>

</html>