<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet"
	th:href="@{/css/dahsboard/employee/dashboard.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
table {
	margin-right: 200px;
}

td {
	width: 300px;
	padding: 10px;
}

.bold {
	font-weight: bold;
}

h3 {
	text-align: center;
}
</style>
</head>
<body>
	<div class="sidebar close">
		<div class="logo-details">
			<i class='bx bxs-bank'></i> <span class="logo_name">DemoBank</span>
		</div>
		<ul class="nav-links">
			<li><a href="/manager/dashboard"> <i class='bx bx-grid-alt'></i>
					<span class="link_name">Dashboard</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/dashboard">Dashboard</a></li>
				</ul></li>
			<li><a href="/manager/debit"> <i class='bx bx-layer-minus'></i>
					<span class="link_name">Debti</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/debit">Debit</a></li>
				</ul></li>
			<li><a href="/manager/credit"> <i class='bx bx-add-to-queue'></i>
					<span class="link_name">Credit</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/credit">Credit</a></li>
				</ul></li>
			<li>
				<div class="iocn-link">
					<a href="#"> <i class='bx bx-donate-blood'></i> <span
						class="link_name">Loans</span>
					</a> <i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="#">Loans</a></li>
					<li><a href="/manager/allLoan">All</a></li>
					<li><a href="/manager/approvedLoan">Approved</a></li>
					<li><a href="/manager/pendingLoan">Pending</a></li>
					<li><a href="/manager/rejectedLoan">Rejected</a></li>
				</ul>
			</li>
			<li>
				<div class="iocn-link">
					<a href="#"> <i class='bx bx-user'></i> <span class="link_name">Users</span>
					</a> <i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="#">Users</a></li>
					<li><a href="/manager/allUsers">All</a></li>
					<li><a href="/manager/approvedUsers">Approved</a></li>
					<li><a href="/manager/pendingUsers">Pending</a></li>
					<li><a href="/manager/rejectedUsers">Rejected</a></li>
				</ul>
			</li>
			<li><a href="/manager/report"> <i class='bx bxs-report'></i>
					<span class="link_name">Report</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/report">Report</a></li>
				</ul></li>
			<li><a href="/manager/profile"> <i
					class='bx bxs-user-detail'></i> <span class="link_name">Profile</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/profile">Profile</a></li>
				</ul></li>
			<li>
				<div class="profile-details">
					<div class="profile-content">
						<a href="/manager/profile"><img src="/images/images.png"
							alt="profileImg"></a>
					</div>
					<div class="name-job">
						<div class="profile_name" th:text=${name}>X</div>
					</div>
					<a href="/manager/login"><i class='bx bx-log-out'></i></a>
				</div>
			</li>
		</ul>
	</div>
	<section class="home-section">
		<div class="home-content">
			<i class='bx bx-menu'></i>
		</div>
		<div class="container-fluid">
			<h3 class="mb-5 text-center">Loan Details Page</h3>
			<table class="mx-5 my-3" id="tableData">
				<tr>
					<td class="bold">Name</td>
					<td th:text="${loanUser.customerName}"></td>
				</tr>
				<tr>
					<td class="bold">Account Number</td>
					<td th:text="${loanUser.accountNumber}"></td>
				</tr>
				<tr>
					<td class="bold">Profession</td>
					<td th:text="${loanUser.profession}"></td>
				</tr>
				<tr>
					<td class="bold">Loan Type</td>
					<td th:text="${loanUser.loanType}"></td>
				</tr>
				<tr>
					<td class="bold">Amount</td>
					<td th:text="${loanUser.amount}"></td>
				</tr>
				<tr>
					<td class="bold">Duration</td>
					<td th:text="${loanUser.durarion}"></td>
				</tr>
				<tr>
					<td class="bold">Interest Rate</td>
					<td th:text="${loanUser.interestRate}"></td>
				</tr>
				<tr>
					<td class="bold">Total Payable</td>
					<td th:text="${loanUser.totalPayable}"></td>
				</tr>
				<tr>
					<td class="bold">Monthly Pay</td>
					<td th:text="${loanUser.monthlyPay}"></td>
				</tr>
				<tr>
					<td class="bold">Requested Date</td>
					<td th:text="${loanUser.requestDate}"></td>
				</tr>
				<tr>
					<td class="bold">Status</td>
					<td th:text="${loanUser.status}"></td>
				</tr>

			</table>
			<form action="/manager/giveLoan">
				<input type="hidden" th:value="${loanUser.id}" name="id">
				<input type="submit" value="Give Loan" class="btn btn-info mx-5 mb-1" id="giveBtn">
			</form>
			<form action="/manager/rejectLoan">
				<input type="hidden" th:value="${loanUser.id}" name="id">
				<input type="submit" value="Reject Loan" class="btn btn-danger mx-5 mb-5" id="rejectBtn">
			</form>
		</div>
	</section>

	<script th:src="@{/css/dahsboard/manager/dashboard.js}"></script>
	<script th:src="@{/css/dahsboard/manager/loanDetails.js}"></script>
</body>
</html>