<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" th:href="@{/css/dahsboard/manager/dashboard.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="sidebar close">
		<div class="logo-details">
			<i class='bx bxs-bank'></i> <span class="logo_name">DemoBank</span>
		</div>
		<ul class="nav-links">
			<li><a href="/manager/dashboard"> <i class='bx bx-grid-alt'></i>
					<span class="link_name">Dashboard</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/dashboard">Dashboard</a></li>
				</ul></li>
			<li><a href="/manager/debit"> <i class='bx bx-layer-minus'></i>
					<span class="link_name">Debti</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/debit">Debit</a></li>
				</ul></li>
			<li><a href="/manager/credit"> <i class='bx bx-add-to-queue'></i>
					<span class="link_name">Credit</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/credit">Credit</a></li>
				</ul></li>
			<li>
				<div class="iocn-link">
					<a href="#"> <i class='bx bx-donate-blood'></i> <span
						class="link_name">Loans</span>
					</a> <i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="#">Loans</a></li>
					<li><a href="/manager/allLoan">All</a></li>
					<li><a href="/manager/approvedLoan">Approved</a></li>
					<li><a href="/manager/pendingLoan">Pending</a></li>
					<li><a href="/manager/rejectedLoan">Rejected</a></li>
				</ul>
			</li>
			<li>
				<div class="iocn-link">
					<a href="#"> <i class='bx bx-user'></i> <span class="link_name">Users</span>
					</a> <i class='bx bxs-chevron-down arrow'></i>
				</div>
				<ul class="sub-menu">
					<li><a class="link_name" href="#">Users</a></li>
					<li><a href="/manager/allUsers">All</a></li>
					<li><a href="/manager/approvedUsers">Approved</a></li>
					<li><a href="/manager/pendingUsers">Pending</a></li>
					<li><a href="/manager/rejectedUsers">Rejected</a></li>
				</ul>
			</li>
			<li><a href="/manager/report"> <i class='bx bxs-report'></i>
					<span class="link_name">Report</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/report">Report</a></li>
				</ul></li>
			<li><a href="/manager/profile"> <i
					class='bx bxs-user-detail'></i> <span class="link_name">Profile</span>
			</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="/manager/profile">Profile</a></li>
				</ul></li>
			<li>
				<div class="profile-details">
					<div class="profile-content">
						<a href="/manager/profile"><img src="/images/images.png"
							alt="profileImg"></a>
					</div>
					<div class="name-job">
						<div class="profile_name" th:text=${name}>X</div>
					</div>
					<a href="/manager/login"><i class='bx bx-log-out'></i></a>
				</div>
			</li>
		</ul>
	</div>
	<section class="home-section">
		<div class="home-content">
			<i class='bx bx-menu'></i>
		</div>
		<div class="container-fluid">
			<h3 class="mb-3 text-center">Pending Users</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Phone</th>
						<th scope="col">Address</th>
						<th scope="col">Nid</th>
						<th scope="col">Dob</th>
						<th scope="col">Profession</th>
						<th scope="col">Type</th>
						<th scope="col">Branch</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer:${cusList}">
						<td th:text=${customer.name} />
						<td th:text=${customer.email} />
						<td th:text=${customer.phoneNo} />
						<td th:text=${customer.address} />
						<td th:text=${customer.nid} />
						<td th:text=${customer.dob} />
						<td th:text=${customer.profession} />
						<td th:text=${customer.accountType} />
						<td th:text=${customer.branch} />
						<td>
							<form action="generateId" method="post">
								<input type="hidden" th:value="${customer.id}" name="id">
								<input type="submit" value="Give Account" class="btn btn-info">
							</form>
						</td>
						<td>
							<form action="statusReject" method="post">
								<input type="hidden" th:value="${customer.id}" name="id">
								<input type="submit" value="Reject" class="btn btn-danger">
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

	<script th:src="@{/css/dahsboard/employee/dashboard.js}"></script>
</body>
</html>